#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Cove
GenericName=Media Streaming App
Comment=Stream movies and TV shows
Exec=cove
Icon=io.github.coveninja.Cove
Categories=AudioVideo;Video;Player;
Terminal=false
StartupWMClass=cove_shell
